@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Regular.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: '나눔손글씨 손편지체';
  font-weight: normal;
  src: url('../assets/fonts/Nanum-letter.ttf') format('truetype');
}

@font-face {
  font-family: '나눔명조';
  font-weight: normal;
  src: url('../assets/fonts/NanumMyeongjo.otf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
