@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Regular.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'NanumLetter';
  font-weight: normal;
  src: url('../assets//fonts/Nanum-letter.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumMyeongjo';
  font-weight: normal;
  src: url('../assets/fonts/NanumMyeongjo.otf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
